{% extends "base/default.html" %}
{% block body %}
  {% if username != '' %}
<!--         <p>
      <form method="GET" action={{ url_for('index') }} >
          <input style="height:2em" class="standard_alignment" type="submit" value="<- main menu">
      </form>
      <p> -->
  {% endif %}
  {% for complaint in complaints %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ complaint }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}
  {% block content %} {% endblock %}
{% endblock %}