{% extends "base/default_with_back.html" %}
{% block content %}

    <h2> room: "{{ room  }}"</h2>

    <form method="POST">

        <select name="num_players" class="standard_alignment" >
            <option value="5"  {{ config.players5  }}>5 players</option>
            <option value="6"  {{ config.players6  }}>6 players</option>
            <option value="7"  {{ config.players7  }}>7 players</option>
            <option value="8"  {{ config.players8  }}>8 players</option>
            <option value="9"  {{ config.players9  }}>9 players</option>
            <option value="10" {{ config.players10 }}>10 players</option>
        </select>

        <p>
            <input type="checkbox" name="Merlin" {{ config.Merlin }} > Merlin
            <br>
            <input type="checkbox" name="Percival" {{ config.Percival }} > Percival
        </p>
        <p>
            <input type="checkbox" name="Assassin" {{ config.Assassin }} > Assassin
            <br>
            <input type="checkbox" name="Morganna" {{ config.Morganna }} > Morganna
            <br>
            <input type="checkbox" name="Mordred" {{ config.Mordred }} > Mordred
            <br>
            <input type="checkbox" name="Oberron" {{ config.Oberron }} > Oberron
            <br>
        </p>
        <p>
            <input type="checkbox" name="Lancelots" {{ config.Lancelots }} > Lancelots
            <br>
        </p>

        <input type="submit" class="standard_alignment" value="Make Room">
    </form>

    <br>

    {{ complaint }}

{%  endblock %}
