{% extends "base/back_button.html" %}
{% block content %}

    <h2> room: "{{ room }}"</h2>

    {% if complaint %}
        <p class="error standard_alignment"> {{ complaint }} Please try again. </p>
    {% endif %}

    <form method="POST">

        <select name="num_players" >
            {% for i in range(5,10) %}
                <option value="{{ i }}" {%if num_players==i%}selected="selected"{% endif %}>
                    {{ i }} players</option>
            {% endfor %}
        </select>

        {% for group in checkboxes %}
            <br>
            {% for role in group %}
                <br>
                <label class="checkbox">
                        <input type="checkbox" name="{{ role }}" {% if selected[role]==True %} checked="checked" {% endif %}> {{ role }}
                </label>
            {% endfor %}
        {% endfor %}

        <p>
        <input type="submit" class="standard_alignment" value="Make Room">
    </form>

{%  endblock %}
