{% extends "base/back_button.html" %}
{% block content %}

<h2>Create Room</h2>
<p>Room Code: {{ roomcode }}</p>

<!-- {% if complaint %}
  <div class="alert alert-danger"> {{ complaint }} Please try again. </div>
{% endif %} -->

<form method="POST" class="mb-3">
  <div class="form-group">
    <select name="num_players" class="form-control">
      {% for i in range(5, 13) %}
        <option value="{{ i }}" {%if num_players==i%}selected="selected"{% endif %}>
          {{ i }} players
        </option>
      {% endfor %}
    </select>
  </div>

  {% for group in checkboxes %}
    <div class="form-group">
      <label>
        {% if loop.first %}
          <b>Good</b>
        {% endif %}
        {% if (loop.index == 2) %}
          <b>Evil</b>
        {% endif %}
      </label>
      {% for role in group %}
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="{{ role }}" name="{{ role }}" {% if selected[role]==True %} checked="checked" {% endif %}>
          <label for="{{ role }}" class="form-check-label">{{ role }}</label>
        </div>
      {% endfor %}
    </div>
  {% endfor %}

  <div class="form-group">
    <label><b>Lancelots</b></label>
    <select name="num_lancelots" class="form-control">
      {% for i in range(0, 3) %}
        <option value="{{ i }}" {%if num_lancelots==i%}selected="selected"{% endif %}>
          {{ i }} lancelots
        </option>
      {% endfor %}
    </select>
  </div>

    <div class="form-group">
        <label><b>Prank Mode</b></label>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="enable_prank_mode" name="enable_prank_mode">
          <label class="form-check-label">Enable Prank Mode</label>
        </div>
        <div><small class="text-muted">If Prank Mode is enabled, there is a 1% chance that everyone in the game will think they are Merlin.
        They will see random players as evil.<small></div>
    </div>

  <div>
      <input type="submit" class="btn btn-primary mb-2" value="Make Room">
      <a href="/" class="btn btn-secondary mb-2">Cancel</a>
  </div>

</form>




{%  endblock %}
