{% extends "base/back_button.html" %}
{% block content %}

<h2>Join room</h2>
<p>Join an existing room. Ask the host for the room code.</p>
<form method="POST">
  <div class="form-group">
    <label for="user_input">Room code</label>
    <input type=text name=user_input class="form-control" value="{{ roomcode }}">
    <small class="form-text text-muted">Capitalization doesn't matter.</small>
  </div>
  <button type="submit" class="btn btn-primary">Join</button>
  <a role="button" href="/" class="btn btn-secondary">Cancel</a>
</form>

{%  endblock %}
