{% extends "base/default_with_back.html" %}
{% block content %}

    <h2>in room "{{ roomcode }}"</h2>

    {% if role_info|length > 0%}
        <h3>Role Info:</h3>
        {% for message in role_info %}
            {{ message }}
            <br>
        {% endfor %}
    {% else %}
    <p>
        <form method="GET" action={{ url_for('room', code=roomcode) }}>
            <input style="height:92px;width:150px" type="submit" value="Refresh">
        </form>
    </p>
    {% endif %}
    <h3> Players ({{ status }}): </h3> {{ players }}
    <h3> Roles: </h3> {{ roles }}

    {% if role_info|length > 0%}
    <h3> </h3>
    <form method="POST">
        <input type="submit" value="Rematch">
    </form>

    {% endif %}

{%  endblock %}
